---
import ContactButtons from '#components/contact-buttons/contact-buttons.astro';
import { getFooter } from '../api';

const content = await getFooter();
---

<footer class="bg-secondary-950 dark:bg-secondary-200 flex w-full flex-col gap-2 px-6 py-8 text-white dark:text-black">
  <div class="flex w-full flex-col items-center gap-6 md:flex-row md:gap-6">
    <p class="font-instrument text-lg text-nowrap">{content.logo}</p>
    <div class="flex w-full flex-col items-center justify-between gap-6 md:flex-row-reverse">
      <ContactButtons />
      <div>
        <p class="text-xs text-nowrap">{content.copy}</p>
      </div>
    </div>
  </div>
  <p class="text-center text-xs text-nowrap">
    Powered by <a
      href="https://contentisland.net"
      class="hover:text-primary-400 dark:hover:text-primary-700 underline underline-offset-2">Content Island</a
    >
  </p>
</footer>
