---
import ShapeOval from '#assets/shapes/oval.svg';
import ShapeRectangle from '#assets/shapes/rectangle.svg';

const content = {
  title: 'What would you like to read about?',
  description: 'I am preparing new articles and would love to hear your ideas.',
  description2: 'Send me your suggestion to: jwd@gmail.com',
};
---

<section
  class="bg-primary-50 dark:bg-primary-800 relative overflow-clip rounded-4xl p-6 py-8 sm:p-16"
  aria-labelledby="newsletter-heading"
>
  <div class="relative z-10 flex flex-col items-center justify-center gap-6 text-center">
    <h2 class="text-tbase-500/90 text-2xl font-semibold" id="newsletter-heading">
      {content.title}
    </h2>
    <div>
      <p class="text-lg">{content.description}</p>
      <p class="mt-1 text-lg">{content.description2}</p>
    </div>
  </div>
  <!-- Decorative shapes -->
  <div
    class="text-primary-500/25 dark:text-primary-500/35 absolute top-[-48%] left-[-30%] h-[243px] w-[420px] md:top-[-40%] md:left-[-16%]"
    aria-hidden="true"
  >
    <ShapeRectangle />
  </div>
  <div
    class="text-primary-500/25 dark:text-primary-500/35 absolute top-[70%] right-[-40%] h-[243px] w-[420px] overflow-clip md:top-[50%] md:right-[-22%]"
    aria-hidden="true"
  >
    <ShapeOval />
  </div>
</section>
